<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div ng-if="list.items.length > 0">
        <ul>
          <li ng-repeat="item in list.items track by $index">
            <span><strong>{{ item.name }} ({{ item.short_name }}):</strong> {{ item.description }}</span>
            <button ng-click="list.onRemove({ index: $index })">Don't want this one!</button>
          </li>
        </ul>
      </div>
      
      <div ng-if="list.items.length === 0">
        <p>No items found matching your search criteria.</p>
      </div>
      
</body>
</html>